* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}



/* BOARD STYLES */
.board-view {
  max-width: 100%;
  min-height: 100vh;
  background-color: #2098ae;
  display: flex;
  flex-direction: column;
}

.board-view__main {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.board-view__main h1 {
  margin-top: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.7);
}

.board {
  flex-grow: 1;
  height: 100%;
  padding: 0px 3% 3%;
}

/* board-nav */
.board-nav ul {
  display: flex;
  padding: 0 calc(calc(100vw - 200px) * .03);
  margin-bottom: 0px;
  align-items: flex-end;
  width: 100%;
  list-style: none;
  border-bottom: 2px solid white;
}

.board-nav li {
  padding: 10px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  height: calc(1em + 20px);
  background-color: rgba(255,255,255,0.7);
  cursor: pointer;
}

.board-nav li.board-control--add-board {
  width: 24px;
  height: 24px;
  padding: 2px;
  background-color: rgb(40,40,40);
  color: white;
  border-bottom-width: 0px;
}

.board-nav li.board-control--add-board:hover {
  background-color: rgb(60,60,60);
}

.board-nav li:not(:first-child) {
  margin-left: 6px;
}

.board-nav li:hover {
  background-color: rgba(255,255,255,0.9);
}

.board-nav li.active {
  font-weight: bold;
  width: auto;
  overflow: initial;
  text-overflow: initial;
  cursor: initial;
  background-color: rgba(255,255,255,0.9);
}



/* SIDEBAR STYLES */
.sidebar {
  width: 200px;
  padding: 0% 3% 3%;
  background-color: rgba(255,255,255,0.7);
}



/* COLUMN STYLES */
.column-container {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 31%;
  padding: 10px;
  height: auto;
  background-color: rgba(255,255,255,0.5);
}

.column-header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  border-bottom: solid 1px white;
}

.column-control--add-card {
  display: inline-block;
  height: 24px;
  width: 24px;
  padding: 2px;
  background-color: rgb(40,40,40);
  color: white;
  cursor: pointer;
}

.column-control--add-card:hover {
  background-color: rgb(60,60,60);
}

/* CARD STYLES */
.card-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.card {
  margin: 0px;
  background-color: white;
  padding: 5px;
  position: relative;
}

.card.is-dragging {
  opacity: 0.6;
  height: 70px;
  overflow: hidden;
}

.card_description-text {
  font-weight: bold;
}

.card_description-container {
  display: flex;
  cursor: grab;
  border-bottom: 1px solid rgb(150,150,150);
}

.card_description-container .editable-field_container {
  flex-grow: 1;
}

.card_controls {
  overflow: auto;
  margin-top: 5px;
  width: 100%;
}

.card-control--delete {
  flex-grow: 0;
  cursor: pointer;
}

.card-control--toggle-expand {
  float: right;
  cursor: pointer;
}

.card-control--add-checklist {
  cursor: pointer;
}

.card-control--add-checklist svg:first-child {
  position: relative;
  top: -5px;
  background-color: white;
  color: green;
  margin-right: -6px;
}

span.placeholder {
  font-size: 0.8em;
  color: grey;
}



/* CHECKLIST STYLES */

.checklist_container {
  margin: 20px 0px;
  font-size: 14px;
}

.checklist_title-container {
  background-color: #eee;
  font-weight: bold;
  display: flex;
  padding: 3px;
}

.checklist_title-text {
  flex-grow: 1;
}

.checklist_items {
  border-bottom: 1px solid rgb(150,150,150);
  padding: 5px 0px 15px;
  margin: 0px;
  list-style: none;
}

.checklist_control--delete-checklist {
  flex-grow: 0;
  cursor: pointer;
}

.checklist_control--add-item {
  cursor: pointer;
  position: relative;
  top: -16px;
  display: inline-block;
  margin: 0px auto;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 2px solid black;
  border-radius: 50%;
}

.checklist-item_container {
  display: flex;
  z-index: 1;
  position: relative;
  margin: 8px 0px;
}

.checklist-item_container .editable-field_container {
  flex-grow: 1;
  font-size: 13px;
  line-height: 20px;
  padding: 0px 3px;
}

.checklist-item_container > input,
.checklist_control--delete-item {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 3px 0px;
}

.checklist_control--delete-item {
  position: absolute;
  display: none;
  z-index: 2;
  opacity: 0.5;
  top: 0px;
  right: 0px;
  background-color: rgba(0,0,0,0.2);
  height: 18px;
  width: 18px;
  padding: 1px;
  border-radius: 2px;
  cursor: pointer;
}

.checklist-item_container:hover .checklist_control--delete-item {
  display: initial;
  z-index: 2;
}

.checklist_control--delete-item:hover {
  opacity: 1;
}

.checklist-item_container > input {
  margin-top: 2px;
}

.checklist-item_container input:checked + div span {
  color: grey;
  text-decoration: line-through;
}



/* drop-frame styles */
.drop-frame.bachelor {
  height: 10px;
  width: 100%;
  position: relative;
}

/* 
  
  drop frame ::before has height that adjusts
  with the drop-frames as they expand with a card hanging over them

  the idea is to expand the zone in which a drop-frame responds to overlap the bottom of the card above the drop zone

  the Board element gets a classname when a card is being dragged. 

  When no card is being dragged, the DropZone's ::before and ::after are positioned behind card contents, so as to not interfere with clicking
  on card buttons/elements.

  When a card is being dragged, the DropZone's ::before and ::after are positioned in front of card contents so that the onDragEnter events
  can be fired.

*/

.drop-frame.bachelor::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -20px;
  height:20px;
  width: 100%;
}

.drop-frame.bachelor.has-overlord::before {
  height: 30px;
  top: -30px;
}

/* expand the bottom of the drop zone targetability
   to include just the margin beneath the drop zone */
.drop-frame.bachelor.has-overlord::after {
  content: '';
  position: absolute;
  bottom: -10px;
  height: 10px;
  width: 100%;
}

/* long selector is long (looking forward to rewriting with sass) */
.board.has-dragging-card .drop-frame.bachelor::before {
  z-index: initial;
}

.drop-frame.has-overlord {
  height: 70px;
  border: 1px dashed grey;
  margin: 10px 0px;
}




